[submodule "postgresql"]
	path = postgresql
	url = https://github.com/damontorgerson/postgresql.git
[submodule "database"]
	path = database
	url = https://github.com/opscode-cookbooks/database.git
[submodule "openssl"]
	path = openssl
	url = https://github.com/opscode-cookbooks/openssl.git
[submodule "build-essential"]
	path = build-essential
	url = https://github.com/opscode-cookbooks/build-essential.git
[submodule "apt"]
	path = apt
	url = https://github.com/opscode-cookbooks/apt.git
[submodule "application_ruby"]
	path = application_ruby
	url = https://github.com/opscode-cookbooks/application_ruby.git
[submodule "application"]
	path = application
	url = https://github.com/opscode-cookbooks/application.git
[submodule "aws"]
	path = aws
	url = https://github.com/opscode-cookbooks/aws.git
